.login-wrapper .sign-in > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-wrapper .sign-up > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

